@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.about {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    box-sizing: border-box;
    width: 650px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
}

.bottom {
    position: absolute;
    height: 33.33%;
    bottom: 0;
    top: initial;
}

.container {
    min-height: 120vh;
    color: white;
    position: relative;
    background-color: hsl(210deg, 30%, 8%);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    /* цвет и прозрачность затемнения */
}

.topEls {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    position: relative;
}

.hidden {
    position: sticky;
}

.h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    margin-bottom: 60px;
}

.h3 {
    font-weight: normal;
    text-align: center;
    font-size: 34px;
    margin: 0 0 40px;
}

.hobbiesBlock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
}

.hobbies {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.hobbie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 0;
    width: max-content;
}

.icons {
    animation: fade-in 0.5s ease forwards;
}

.img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 60px;
}

.experienceBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.experience {
    display: flex;
    flex-direction: column;
}

.periodExperience {
    display: flex;
    flex-direction: column;
}

.experienceButton {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #490C86DE;
    margin-bottom: 8px;
    transition: 0.3s;
}

.text {
    margin: 0;
    font-size: 18px;
}

.period {
    margin: 0 20px 0 0;
}

.dateAndImg {
    display: flex;
    align-items: center;
}

.containerInfo {
    height: 0;
    transition: 0.3s;
    overflow: hidden;
}

.infoBlock {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;

    box-sizing: border-box;
    border-radius: 14px;
    margin: 12px 0;
    background-color: #241d41;
    padding: 20px;

}

.active {
    background-color: #740cdc;
    transition: 0.3s;
}

.visible {
    height: 200px;
    transition: height 0.3s;
}

.logo {
    box-sizing: border-box;
}

.adresses {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.description {
    margin: 0 0 18px;
    text-align: start;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

.adressesText {
    margin: 0 12px 0 0;
    color: rgba(255, 255, 255, .75);
}

.plusButton {
    width: 24px;
    height: 24px;
    filter: invert();
    cursor: pointer;
}

.adressesLink {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    cursor: pointer;
}

.icon {
    margin: 0;
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.info {
    width: 500px;
    box-sizing: border-box;

}

.ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.li {
    height: min-content;
    width: min-content;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #2c3599;
    font-size: 16px;
    font-weight: 500;
    border-radius: 24px;
    color: rgba(255, 255, 255, .75);
    font-family: 'Roboto';
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:440px) {
    .infoBlock {
        justify-content: start;
        flex-direction: column-reverse;

    }

    .experienceButton {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
    }

    .info {
        width: auto;
    }

    .logo {
        margin-bottom: 24px;
    }

    .visible {
        height: 400px;
    }

    .about {
        width: 380px;
        padding: 60px 0 60px;
    }

    .h2 {
        font-size: 24px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .hobbie {
        width: 100px;
    }

    .hobbiesBlock {
        padding: 12px;
    }

    .h2 {
        margin-bottom: 24px;
    }

    .h3 {
        margin-bottom: 18px;
    }

    .description {
        line-height: 20px;
        margin: 0 0 24px;
    }

    .img {
        height: 140px;
        width: 140px;
        margin-bottom: 40px;
    }
}

@media (max-width:375px) {
    .about {
        width: 300px;
    }

}