.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    width: 100%;
    color: white;
    z-index: 200;
    transition: 0.3s ease;
}

.dev {
    font-size: 22px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.linksModal {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal {
    position: absolute;
    bottom: -160px;
    right: -250px;
    width: 200px;
    background-color: #000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: 1s;
}

.modalOpen {
    right: 0;
    transition: 1s;
}

.button {
    display: none;
    padding: 4px 40px;
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.li {
    font-size: 19px;
    list-style: none;

    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.head {
    background-color: #000;
    /* Цвет фона при прокрутке */
    height: 52px;
    transition: 0.3s ease;
}

.link {
    padding: 8px 22px;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.active {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .link {
        width: 100%;
        text-align: center;
        justify-content: center;

    }

    .li {
        width: 100%;

    }

    .button {
        display: block;
    }
}

.activeButton {
    filter: invert();
    background-color: #000;
    transition: 0.3;
}