.footer {
    height: 30vh;
    background-image: url('https://res.cloudinary.com/dztha3hpj/image/upload/v1707333931/Laptops_Hands_464043_j45kor.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    /* цвет и прозрачность затемнения */
}

.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    z-index: 51;
}

.li {

    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    cursor: pointer;
}

.mail {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.img {
    width: 32px;
    height: 32px;
}

.imgMail {
    width: 32px;
    height: 32px;
    filter: invert();
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 51;
}

.text {
    color: black;
    margin: 0;
    font-size: 22px;
    filter: invert();
}

.linkCV {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    width: min-content;
    height: min-content;
    padding: 6px 56px;
    margin-top: 12px;
    transition: 0.3s;
    font-family: 19px;
    filter: invert();
}

.linkCV:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    filter: invert();
}

@media (max-width:440px) {
    .footer {
        flex-direction: column;
        justify-content: start;
    }

    .ul {
        margin-bottom: 24px;
    }
}