.footer {
    height: 30vh;
    background-image: url('https://res.cloudinary.com/dztha3hpj/image/upload/v1707333931/Laptops_Hands_464043_j45kor.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
}

.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.li {
    margin-right: 24px;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.img {
    width: 32px;
    height: 32px;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: black;
    margin: 0;
    font-size: 22px;
}

.linkCV {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    width: min-content;
    height: min-content;
    padding: 6px 56px;
    margin-top: 12px;
    transition: 0.3s;
    font-family: 19px;
}

.linkCV:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}

@media (max-width:425px) {
    .footer {
        flex-direction: column;
        justify-content: start;
    }

    .ul {
        margin-bottom: 24px;
    }
}